[Desktop Entry]
Version=1.0
Type=Application
Path=/opt/BLdecrypter/
Name=BLdecrypter
Comment=Bit Locker Decrypter for Linux
Exec=/bin/bash btlocker
Icon=/opt/BLdecrypter/BLdecrypter.png
Terminal=true
StartupNotify=true